.task-container{
    display: flex;
    justify-content: space-around;
}
.pending-box{
    display: flex;
    /* margin: 10px; */
    border-right: 1px solid #1c76d2;
}

.process-box{
display: flex;
/* margin: 10px; */
    border-right: 1px solid #1c76d2;
}

.completed-box{
    display:flex;
    /* margin: 10px; */
    /* border-right: 1px solid #1c76d2; */
}
.box-title{
    text-align: center;
}
.box-title-completed{
  text-align: center;
  padding-right: 15px;
}
.percent-container{
  display: flex;
  display: flex;
  justify-content: center;

}

.pending-container, .process-container, .completed-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px  0 25px;
    vertical-align: top;
  }
  
  .example-list {
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  /* .process-box{
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .completed-box

  .pending-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  } */
  .pending-card{
    padding: 20px 10px;
    margin-bottom: 10px;
    box-shadow: 21px 11px 15px -9px #949494;
    border-bottom: solid 1px rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
    background-color:  rgb(238, 160, 43);
  }

  .process-card{
    padding: 20px 10px;
    margin-bottom: 10px;
    box-shadow: 21px 11px 15px -9px #949494;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
    background-color:  rgb(247, 231, 6);

  }
  .completed-header{
    display: flex;
  }

  .percent{
    display:flex
  }

  .completed-card{
      padding: 20px 10px;
    margin-bottom: 10px;
    box-shadow: 21px 11px 15px -9px #949494;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    justify-content: space-evenly;
    font-size: 14px;
    background-color:  rgb(39, 224, 79);

  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .action-group {
      display: flex;
  }

  .edit-task{
      display: flex;
      padding-right: 20px
  }

  .del-task{
      display: flex;
  }

  .pending-card-empty , .completed-card-empty{
      display: flex;
      height: 58px;
      align-items: center;
      justify-content: center;
      border: 1px solid #949494;
  }

  .red-percentage{
    color: rgb(223, 79, 79);
    height: 63px;
    width: 38px;
    /* border: 2px solid black; */
    padding: -17px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 11px; */
    align-items: center;


  }
  .amber-percentage{
    color:  #ffbf00 ;
    height: 63px;
    width: 38px;
    /* border: 2px solid black; */
    padding: -17px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 11px; */
    align-items: center;
  }
  .green-percentage{
    color: rgb(39, 224, 79);
    height: 63px;
    width: 38px;
    /* border: 2px solid black; */
    padding: -17px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 11px; */
    align-items: center;
  
  }