<div class="task-container">
    <div class='pending-box'>
        <div cdkDropListGroup>
            <h2 class='box-title'>Pending</h2>
            <div class="pending-container">

                <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]='pending' class="example-list"
                    (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[processList]">
                    <div *ngIf='showCards'>
                        <div class="pending-card" *ngFor="let item of pending" cdkDrag matSort>
                            <span *ngIf='item.priority == "High" ' class="material-icons">
                                arrow_upward
                            </span>
                            <span *ngIf='item.priority == "Medium" ' class="material-icons">
                                arrow_forward
                            </span>
                            <span *ngIf='item.priority == "low" ' class="material-icons">
                                arrow_downward
                            </span>
                            {{item.title | truncate:35}}
                            <div class='action-group'>
                                <span class="edit-task material-icons" (click)='editPendingTask(item.id)'>
                                    edit
                                </span>
                                <!-- <span class='' > Edit</span> -->
                                <span class="material-icons del-task" (click)='deletePendingTask(item.id)'>
                                    delete
                                </span>
                                <!-- <span class='del-task' (click)='deletePendingTask(item.id)'> Del</span> -->
                            </div>
                        </div>
                    </div>
                    <div *ngIf='!showCards'>
                        <div class="pending-card-empty">
                            No Tasks in Pending
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="process-box">
        <div class="process-container">
            <h2 class='box-title'>In Process</h2>

            <div cdkDropList #processList="cdkDropList" [cdkDropListData]="process" class="example-list"
                (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[pendingList, completedList]">
                <div *ngIf='showProcessCards'>

                    <div class="process-card" *ngFor="let item of process" cdkDrag>
                        <span *ngIf='item.priority == "High" ' class="material-icons">
                            arrow_upward
                        </span>
                        <span *ngIf='item.priority == "Medium" ' class="material-icons">
                            arrow_forward
                        </span>
                        <span *ngIf='item.priority == "low" ' class="material-icons">
                            arrow_downward
                        </span>
                        <span>
                            {{item.title | truncate:35}}
                        </span>

                        <div class='action-group'>
                            <span class='del-task material-icons' (click)='deleteProcessTask(item.id)'>delete</span>
                        </div>
                    </div>
                </div>
                <div *ngIf='!showProcessCards'>
                    <div class="pending-card-empty">
                        No Tasks in Process
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div class="completed-box">

        <div class="completed-container">
            <div class='percent-container'>
                <h2 class='box-title-completed'>Completed</h2>
                <span [ngClass]="{'red-percentage': completedPercentage < 33,'amber-percentage': (completedPercentage > 33 && completedPercentage < 66),
                    'green-percentage':completedPercentage > 66}">{{completedPercentage
                    ? completedPercentage : 0.00}}%</span>
            </div>
            <div cdkDropList #completedList="cdkDropList" [cdkDropListData]="completed" class="example-list"
                (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[processList]">
                <div *ngIf='showCompletedCards'>

                    <div class="completed-card" *ngFor="let item of completed" cdkDrag>
                        <span class="material-icons">
                            check_circle_outline
                        </span>
                        {{item.title | truncate:35}}
                    </div>
                </div>
                <div *ngIf='!showCompletedCards'>
                    <div class="completed-card-empty">
                        No Tasks in Completed
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>